/*
 * Footer
 */
.blog-footer {
  padding: 2.5rem 0;
  color: #ffffff;
  text-align: center;
  background-color: #0f5c94;
  border-top: 0.05rem solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}
