<!-- <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/BelleRug.jpg" class="d-block w-100" alt="..." />
    </div>
    <div class="carousel-item">
        <img src="..." class="d-block w-100" alt="..." />
      </div>
      <div class="carousel-item">
        <img src="..." class="d-block w-100" alt="..." />
      </div>
  </div>
</div> -->

<img src="assets/BelleRug.jpg" class="img-fluid" alt="Responsive image" />
